INSTALAÇÕES

Twilio SendGrid:
pip install sendgrid

MySQL:
pip install mysqlclient 
pip install mysql-connector-python 

Pandas:
pip install pandas
pip install pandasql


NECESSÁRIO

Python 3.X
MySQL
