INSTALAÇÕES

Twilio SendGrid:
pip install sendgrid

MySQL:
pip install mysqlclient 
pip install mysql-connector-python 

Pandas:
pip install pandas
pip install pandasql

NOTA
Trabalhe com Python 3.X
Crie uma conta no Twilio SendGrid, faça a verificação de e-mail e configure em 'API de e-mail' uma chave_sendgrid.
